* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  color: #37352f;
  margin-top: 40px;
}

a {
  color: inherit;
  text-decoration: underline;
}

.contents {
  width: 1100px;
}

.header {
  display: flex;
  flex-direction: row;
}

.profile_left {
  width: 300px;
  height: 300px;
  margin-right: 40px;
}

.profile_right {
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 500;
  font-family: "Noto Sans KR";
  margin-top: 10px;
}

#title-purple {
  color: #9065af;
}

.techStack {
  margin-top: 15px;
  margin-bottom: 15px;
}

.stacks {
  background-color: #ededeb;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 3px 10px;
  font-weight: 700;
}

#flutter {
  color: #045697;
}

#react {
  color: #5ed3f3;
}

#nextjs {
  color: black;
}

#ts {
  color: #3074bf;
}

#tcss {
  color: #19aab3;
}

#socketio {
  color: black;
}

#nestjs {
  color: #e0234e;
}

#aws {
  color: #ed902e;
}

#nodejs {
  color: #669f59;
}

#express {
  color: black;
}

#mysql {
  color: #de8d1e;
}

#ionic {
  color: #4486f7;
}

#scss {
  color: #cc6699;
}

.bar {
  border: 1px solid #ededec;
  width: 100%;
  height: 1px;
}

.shorts {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0px;
  border: 1px solid #ededec;
  border-radius: 5px;
  font-size: 1rem;
  align-items: center;
}

.shorts__info {
  padding: 0px 5px 0px 0px;
}

.icon {
  font-size: 1.2rem;
  margin: 0px 10px 0px 0px;
}

.insertbox {
  margin: 5px 0px 5px 10px;
  color: #646464;
  width: 100%;
  display: flex;
}

.insert_deco {
  width: 10px;
  height: 35px;
  background-color: #646464;
  margin: 0px 10px 0px 0px;
}

.contacts {
  color: #646464;
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  font-size: 1rem;
}

.timeline_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.timeline_title {
  font-size: 1.8rem;
  margin: 30px 0px 20px 0px;
  font-weight: 700;
  font-style: italic;
}

.timeline_contents {
  display: flex;
  margin-bottom: 20px;
}

.timeline_cts_left {
  margin-right: 20px;
  width: 230px;
  display: flex;
  flex-direction: column;
}

.timeline_cts_left_date {
  background-color: #ededec;
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  padding: 3px;
  text-align: center;
}

.timeline_cts_left_logo {
  margin-top: 5px;
  width: 100%;
}

.timeline_cts_right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeline_cts_right_title {
  background-color: #ededec;
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  padding: 3px 3px 3px 7px;
  margin-bottom: 10px;
}

.timeline_cts_right_subtitle {
  padding: 0px 0px 0px 7px;
}

.timeline_cts_right_subtitle_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.timeline_cts_right_subtitle_deco {
  width: 10px;
  height: 30px;
  background-color: #646464;
  margin-right: 10px;
}

.timeline_cts_right_subtitle_text {
  color: #646464;
}

.timeline_cts_right_list {
  padding: 0px 0px 0px 7px;
  margin-bottom: 5px;
}

.timeline_cts_right_box {
  border: 1px solid #ededeb;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 7px;
}

.timeline_cts_right_box_icon {
  padding: 0px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.timeline_cts_right_box_body {
}

.timeline_cts_right_box_body_title {
  padding-top: 4px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.timeline_studies_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.studies_line {
  display: flex;
  width: 100%;
}

.studies_line_cts {
  background-color: #f6f6f6;
  width: 50%;
  margin: 0px 5px 5px 0px;
  padding: 10px;
}

.studies_title {
  font-weight: 700;
  margin-bottom: 10px;
}

.studies_subtitle {
  margin-bottom: 10px;
}

.experience {
  margin-bottom: 5px;
  line-height: 1.5rem;
}
